@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  font-size: 12px;
  font-weight: var(--primary-font-weight);
  line-height: 1.17;
}
