.footer {
  height: 100px;
  background-color: #f7f7f7;
  padding-top: 29px;
  padding-bottom: 29px;
  text-align: center;
  @include tablet {
    height: 79px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include desktop {
    height: 77px;
    padding-bottom: 28px;
  }
}

.footer .container {
  @include tablet {
    display: flex;
    justify-content: center;
  }
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}

.footer__text:last-child {
  margin-top: 10px;
  @include tablet {
    margin-top: 0;
    margin-left: 4px;
  }
}

.heart {
  color: var(--orange-text-color);
}

.team-modal-btn {
  color: #545454;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
