html,
body {
  height: 100%;
}
body {
  height: calc(100% - 216px);
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.info-text {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #545454;
  &__link {
    padding: 7px;

    color: var(--secondary-text-color);

    background-color: var(--orange-text-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: #8b3601;
      transition: background-color 0.2s linear;
    }
  }
}
