:root {
  --main-text-color: #000000;
  --secondary-text-color: #ffffff;
  --orange-text-color: #ff6b08;
  --searching-error-notif-color: #FF001B;

  --primary-font-weight: 500;
  --secondary-font-weight: 400;
}
